@model List<sTreeHw0706.Models.ViewModels.MoneyViewModel>
<div>
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>流水號</th>
                        <th>類別</th>
                        <th>日期</th>
                        <th>金額</th>
                    </tr>

                    @foreach (var details in Model)
                    {

                    if(details.Type == "收入"){
                    <tr style="background-color:lightcyan">
                        <td>
                            @Html.DisplayFor(m => details.No)
                        </td>
                        <td>
                            @Html.DisplayFor(m => details.Type)
                        </td>
                        <td>
                            @*[DisplayFormat(DataFormatString = "{0:yyyy-MM-dd}")]*@
                            @(details.Datetime.Value.ToString("yyyy-MM-dd"))
                            @*@Html.DisplayFor(m => details.Datetime, "{0:yyyy-MM-dd}")*@
                            @*@Html.DisplayFor(m => details.Datetime, "{0:yyyy-MM-dd}", new { @class = "dateformat"})*@
                        </td>
                        <td>
                            @details.Amount.ToString("N0")
                            @*@Html.DisplayFor(m => details.Amount.ToString("N0"))*@
                        </td>
                        @*<td>
                                @Html.DisplayFor(m => details.Note)
                            </td>*@
                    </tr>


                    }
                    else{
                    <tr style="background-color:lavenderblush">
                        <td>
                            @Html.DisplayFor(m => details.No)
                        </td>
                        <td>
                            @Html.DisplayFor(m => details.Type)
                        </td>
                        <td>
                            @*[DisplayFormat(DataFormatString = "{0:yyyy-MM-dd}")]*@
                            @(details.Datetime.Value.ToString("yyyy-MM-dd"))
                            @*@Html.DisplayFor(m => details.Datetime, "{0:yyyy-MM-dd}")*@
                            @*@Html.DisplayFor(m => details.Datetime, "{0:yyyy-MM-dd}", new { @class = "dateformat"})*@
                        </td>
                        <td>
                            @details.Amount.ToString("N0")
                            @*@Html.DisplayFor(m => details.Amount.ToString("N0"))*@
                        </td>
                        @*<td>
                                @Html.DisplayFor(m => details.Note)
                            </td>*@
                    </tr>}
                    }
                </table>
            </div>
        </div>
    </dl>
</div>